@font-face {
    font-family: 'druk';
    src: url('../fonts/druk.ttf');
}

*{
    font-family: 'Open Sans', sans-serif;
}

.druk{
    font-family: 'druk';
}

.header{
    background: linear-gradient(black, transparent),url("../img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.contact{
    border: 1px solid #D12933;
    border-radius: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}
h1{
    font-size: 38px;
}
.btn-red{
    background-color: #D12933;
    color: white;
    border-radius: 20px;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.slick-dots li button:before {
    font-size: 15px;
    opacity: 1;
    color: white;
}
.slick-dots {
    bottom: -75px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #D12933;
}


.bg-red{
    background-color: #D12933;
}
.fs-26{
    font-size: 26px;
}

.py-100{
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-red{
    color: #D12933;
}
.fs-20{
    font-size: 20px;
}

.column-img {
    height: 100px;
    margin-bottom: 30px;
}

.publishers{
    background: linear-gradient(90deg,rgba(0,0,0,0.5), transparent),url("../img/pub.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}