@font-face {
  font-family: "druk";
  src: url("../fonts/druk.ttf");
}

* {
  font-family: "Open Sans", sans-serif;
}

.druk {
  font-family: "druk";
}

.logo {
  position: relative;
  top: -4px;
}

.header {
  background: linear-gradient(black, transparent), url("../img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.contact {
  border: 1px solid #d12933;
  border-radius: 20px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
h1 {
  font-size: 38px;
}
.btn-red {
  background-color: #d12933;
  color: white;
  border-radius: 20px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.slick-dots li button:before {
  font-size: 15px;
  opacity: 1;
  color: white;
}
.slick-dots {
  bottom: -75px;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #d12933;
}

.bg-red {
  background-color: #d12933;
}
.fs-26 {
  font-size: 26px;
}

.py-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.text-red {
  color: #d12933;
}
.fs-20 {
  font-size: 20px;
}

.column-img {
  height: 100px;
  margin-bottom: 30px;
}

.publishers {
  background: linear-gradient(90deg, #21252a, #21252a67), url("../img/pub.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

h2 {
  font-size: 30px !important;
}

.digital {
  background-color: #f1f0f1;
}

.fs-18 {
  font-size: 18px;
}

.bg-blue {
  background-color: #21252ace;
}
.contact-section {
  background: linear-gradient(90deg, #21252a, #21252a67),
    url("../img/contact.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

footer {
  background-color: #1d242c;
}

.footer-link {
  line-height: 2.2;
  display: block;
}

.footer-link:hover {
  color: #d12933 !important;
}

.fs-14 {
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .gap-3 {
    gap: 0rem !important;
  }
  .contact {
    text-align: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 25px;
  }
  h1 br {
    display: none;
  }
  .py-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fs-26 {
    font-size: 20px;
  }
  h2 {
    font-size: 25px !important;
  }
  .fs-20 {
    font-size: 17px;
  }
  .lead {
    font-size: 15px;
  }
  section#advertisers .row {
    flex-direction: column-reverse;
  }
  section#advertisers .row.mt-5 {
    flex-direction: column;
  }
  .col-md-3.m-auto.text-end {
    text-align: left !important;
  }
  footer.py-5 {
    text-align: center;
  }
  .text-end.copy.mt-2 {
    text-align: center !important;
    margin-top: 30px !important;
  }
}
